body {
    width: 842px;
    margin: 0;
}

.header {
    height: 57px;
    background: white;
    display: grid;
}

.header .logo {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 8px;
}

.header .title {
    grid-column-start: 2;
    grid-column-end: 3;
}

.header .prepared-by {
    grid-column-start: 6;
    grid-column-end: 10;
    text-align: end;
    margin: 15px 8px;
    color: #D0D2D3;
}

.dark-grey {
    color: #535759;
}

.content {
    display: grid;
    width: 806px;
    height: 640px;
    padding: 18px;

    /* Gradient / Blue-AA */
    background: linear-gradient(101.31deg, #005DA9 0%, #017CBE 100%);
}

.customer-details {
    border-radius: 10px;
    background: #F6F8FB;
    height: 255px;
    padding: 11px;
}

.customer-details-tiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 488px;
    border-right: 1px #D0D2D3 solid;
}

.customer-details-halves {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.garment-image {
    padding: 0 15px;
    width: 265px;
}

.garment-image > img {
    padding: 15px 0;
}

.operation-details {
    border-radius: 10px;
    background: #F6F8FB;
    height: 322px;
    padding: 11px;
    margin-top: 5px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.operation-details-left {
    display: flex;
    width: 600px;
}

.operation-details-right {
    width: 179px;
    border-left: 1px #D0D2D3 solid;
    display: flex;
}

h1 {
    font-family: 'Frutiger LT Std';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    /* Primary/Coats-Blue */
    color: #005DA9;
}

h2 {
    margin: 0;
    font-family: 'Open Sans';
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;    
    color: #535759;
}

h5 {
    margin: 0;
    font-family: 'Open Sans';
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0px;
    text-align: left;
}

h6 {
    margin: 0;
    font-family: 'Open Sans';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #005DA9;
}

.tile {
    border-bottom: 1px #D0D2D3 solid;
    height: 49px;
    width: 162.5px;
}

.needle-looper-spreader {

}

.line-stroke {
    position: static;
    width: 16px;
    height: 1px;
    /* Secondary/Light-Grey */

    background: #D0D2D3;
    transform: rotate(90deg);

    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 8px;
}

.header-subtext {
    color:#005DA9;
    font-weight: 700;
}
