body {
    width: 842px;
    margin: 0;
}

.header {
    height: 57px;
    background: white;
    display: grid;
}

.header .logo {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 5px;
}

.header .title {
    grid-column-start: 2;
    grid-column-end: 3;
}

.header .prepared-by {
    grid-column-start: 7;
    grid-column-end: 8;
    text-align: end;
    margin: 15px 8px;
    color: #D0D2D3;
}

.dark-grey {
    color: #535759;
}

.content {
    display: grid;
    width: 100%;
    height: 835px;

    /* Gradient / Blue-AA */
    background: linear-gradient(101.31deg, #005DA9 0%, #017CBE 100%);
}

.block {
    margin: 17px 18px 10px 18px;
    display: flex;
    border-radius: 10px;
    background: #F6F8FB;
    width: 806px;
    height: 255px;
    left: 17px;
    top: 73px;
}

.block div {
    display: flex;
    width: 200px;
}

h1 {
    font-family: 'Frutiger LT Std';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    /* Primary/Coats-Blue */
    color: #005DA9;
}

h2 {
    font-family: 'Open Sans';
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;    
    color: #535759;
}

h5 {
    font-family: 'Open Sans';
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0px;
    text-align: left;
}

h6 {
    font-family: 'Open Sans';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #005DA9;
}

.line-stroke {
    position: static;
    width: 16px;
    height: 1px;
    /* Secondary/Light-Grey */

    background: #D0D2D3;
    transform: rotate(90deg);

    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 8px;
}

.header-subtext {
    color:#005DA9;
    font-weight: 700;
}

div.customer-details {
    width: 500px;
}
